<!-- article#doc-cover is used cover page handling -->
<article id="doc-cover" class="displays"
    {% if cover_image is defined %}
    style="background-image: url('{{ cover_image | to_url }}');"
    {% endif %}>
    <div id="doc-cover-content">
        <div id="cover_title_area">
            <p id="cover_displays_label">Industrial {{ type | capitalize }}</p>
            <p id="cover_title">{{ cover_title | e }}</p>
        </div>
        <div id="cover_product_img_area" style=""></div>
        <div id="cover_subtitle_area">
            {% if cover_subtitle is string %}
                {% set cover_subtitle = [cover_subtitle] %}
            {% endif %}

            {% for subtitle in cover_subtitle %}
                {% if subtitle != type | capitalize %}
                    <p>{{ subtitle | e }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div id="cover_reserved_rights">
            <p id="cover_revision" style="font-weight: 600;">
            {% if revision %}
                Revision {{ revision | e }}
            {% endif %}
            </p>

            <p style="font-weight: 600;">
                <a href="https://www.chipsee.com" style="color:#EF3D30;">www.chipsee.com</a>
            </p>
        </div>
</div>
</article>
