@media print {

    h2,
    h3 {
        string-set: chapter content();
    }
/*
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
        content: attr(data-numbering string);
    }
*/
    /* Cover*/
    @page: first {
        margin: 0;
        padding: 0;
    }

    @page {

        @top-right {
            font-size: 9pt;
            height: initial;
            width: initial;
            max-width: initial;
        }

        @top-right {
            content: string(chapter);
            font-size: 9pt;
            font-family: 'Open Sans', sans-serif!important;
        }

        @top-left {
            content: var(--title);
            font-family: 'Open Sans', sans-serif!important;
        }

        @bottom-center {
            font-size: 9pt;
            content: var(--type);
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif!important;
            font-weight: 600!important;
        }

        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            font-family: 'Open Sans', sans-serif!important;
        }

        @bottom-left {
            content: var(--author);
            font-family: 'Open Sans', sans-serif!important;
        }
    }

    @page landscape {
        margin: 15mm 10mm 10mm 10mm;
    }

    /* PDF plugin classes */
    .page-break {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    p.page-break,
    .tabbed-set p.page-break+p {
        margin: 0 !important;
        padding: 0 !important;
    }

    p.page-break+*,
    p.page-break+dd>* {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    /* Cover */

    #doc-cover {
        /* Always change this based on portrait page height */
        height: 297mm;
        background-size: cover;
    }

    #doc-cover #doc-cover-content {
        max-height: 267mm;
        min-height: 267mm;
        margin: 20mm 10mm 10mm 10mm;
        text-align: right;
        display: block;
    }

    #doc-cover #cover_reserved_rights {
        font-size: 9pt;
        font-family: var(--md-text-font);
        position: absolute;
        right: 10mm;
        bottom: 10mm;
    }

    #doc-cover #cover_title {
        font-size: 42pt;
        text-align: left;
        padding: 0 5mm;
        margin-top: 0;
        margin-bottom: 0;
    }

    #doc-cover #cover_subtitle {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 28pt;
        text-transform: uppercase;
    }

    #doc-cover #cover_reserved_rights p {
        margin-bottom: 0;
    }

    #doc-cover.document #cover_subtitle_area {
        position: absolute;
        left: 10mm;
        bottom: 75mm;
        font-size: 14pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.document #cover_subtitle_area>p {
        margin-bottom: 2mm;
        margin-top: 0;
    }

    #doc-cover.document #cover_document_label {
        font-size: 32pt;
        margin-bottom: 10mm;
    }

    /* PCS */
    #doc-cover.pcs #doc-cover-content {
        max-height: 267mm;
        min-height: 267mm;
        margin: 20mm 10mm 10mm 10mm;
    }

    #doc-cover.pcs #cover_title {
        font-size: 42pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.pcs #cover_subtitle {
        font-size: 32pt;
        color: var(--md-primary-fg-color);
        text-align: left;
        padding: 0 5mm;
        margin-bottom: 3mm;

    }

    #doc-cover.pcs #cover_pcs_label {
        font-size: 32pt;
        margin-bottom: 10mm;
    }

    /* Monitors */
    #doc-cover.monitors #doc-cover-content {
        max-height: 267mm;
        min-height: 267mm;
        margin: 20mm 10mm 10mm 10mm;
    }

    #doc-cover.monitors #cover_title {
        font-size: 42pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.monitors #cover_subtitle_area {
        position: absolute;
        left: 10mm;
        bottom: 75mm;
        font-size: 14pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.monitors #cover_subtitle_area>p {
        margin-bottom: 2mm;
        margin-top: 0;
    }

    #doc-cover.monitors #cover_monitors_label {
        font-size: 32pt;
        margin-bottom: 10mm;
    }

    /* Tutorials */
    #doc-cover.tutorials #doc-cover-content {
        max-height: 267mm;
        min-height: 267mm;
        margin: 20mm 10mm 10mm 10mm;
    }

    #doc-cover.tutorials #cover_title {
        font-size: 42pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.tutorials #cover_subtitle_area {
        position: absolute;
        left: 10mm;
        bottom: 75mm;
        font-size: 14pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.tutorials #cover_subtitle_area>p {
        margin-bottom: 2mm;
        margin-top: 0;
    }

    #doc-cover.tutorials #cover_tutorials_label {
        font-size: 32pt;
        margin-bottom: 10mm;
    }


    /* SOM */
    #doc-cover.som #doc-cover-content {
        max-height: 267mm;
        min-height: 267mm;
        margin: 20mm 10mm 10mm 10mm;
    }

    #doc-cover.som #cover_title {
        font-size: 42pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.som #cover_subtitle_area {
        position: absolute;
        left: 10mm;
        bottom: 75mm;
        font-size: 14pt;
        text-align: left;
        padding: 0 5mm;
    }

    #doc-cover.som #cover_subtitle_area>p {
        margin-bottom: 2mm;
        margin-top: 0;
    }

    #doc-cover.som #cover_som_label {
        font-size: 32pt;
        margin-bottom: 10mm;
    }


    /* Table of Contents */
    article#doc-toc {
        margin: 0 .8rem;
    }

    article#doc-toc>ul {
        margin-bottom: 0;
    }

    article#doc-toc>ul {
        margin-right: 3mm;
    }

    article#doc-toc>ul,
    article#doc-toc>ul>li {
        margin-left: 0;
        padding-left: 0;
    }

    /* Content Tabs */
    .md-typeset div.tabbed-labels {
        display: block;
    }

    .md-typeset .tabbed-labels>label {
        padding: 0;
        color: black;
        font-size: 8.5pt;
        font-weight: lighter;
        font-style: italic;
    }

    /* Images */
    .md-typeset :is(.emojione, .twemoji, .gemoji) {
        display: inline;
    }

    .md-typeset :is(.emojione, .twemoji, .gemoji) svg {
        margin: 0;
        display: inline;
        fill: var(--md-primary-fg-color);
    }

    img.pdf-only.img-inline {
        display: inline;
    }

    img.add-emphasis {
        border: 1px solid lightgray;
    }

    img.less-height {
        /*
        Should be calculate based on:
            + page height
            - page margin-top and margin-bottom
            - h2 height margin-top and margin bottom
        */
        max-height: 158mm;
    }

    img.lesser-height {
        /*
        Should be calculate based on:
            + page height
            - page margin-top and margin-bottom
            - h2 height margin-top and margin bottom
            - h3 height margin-top and margin bottom
        */
        max-height: 148mm;
    }

    img.pdf-hide {
        display: none;
    }

    img.pdf-width-5 {
        width: 5%;
    }

    img.pdf-width-10 {
        width: 10%;
    }

    img.pdf-width-15 {
        width: 15%;
    }

    img.pdf-width-20 {
        width: 20%;
    }

    img.pdf-width-25 {
        width: 25%;
    }

    img.pdf-width-30 {
        width: 30%;
    }

    img.pdf-width-35 {
        width: 35%;
    }

    img.pdf-width-40 {
        width: 40%;
    }

    img.pdf-width-45 {
        width: 45%;
    }

    img.pdf-width-50 {
        width: 50%;
    }

    img.pdf-width-55 {
        width: 55%;
    }

    img.pdf-width-60 {
        width: 60%;
    }

    img.pdf-width-65 {
        width: 65%;
    }

    img.pdf-width-70 {
        width: 70%;
    }

    img.pdf-width-75 {
        width: 75%;
    }

    img.pdf-width-80 {
        width: 80%;
    }

    img.pdf-width-85 {
        width: 85%;
    }

    img.pdf-width-90 {
        width: 90%;
    }

    img.pdf-width-95 {
        width: 95%;
    }

    img.pdf-width-100 {
        width: 100%;
    }

    /* Headers */

    .md-typeset h1 {
        margin: 5pt 0 10pt;
        padding-top: 0;
    }

    .md-typeset h2 {
        margin: 10pt 0 10pt;
    }

    .md-typeset.md-content__inner> :first-child,
    .md-typeset.md-content__inner>nav+*,
    .md-typeset .rotated-page+ :not(.rotated-page),
    .md-typeset .rotated-page :first-child {
        margin-top: 0;
    }

    .md-typeset h3 {
        margin: 20pt 0 10pt;
    }

    .md-typeset h4 {
        margin: 15pt 0 8pt;
    }

    .md-typeset h5 {
        margin: 14pt 0 7pt;
        font-weight: normal;
    }

    .md-typeset h6 {
        margin: 14pt 0 7pt;
        font-weight: normal;
    }

    /* Tables */
    .md-typeset table:not([class]) {
        background-color: transparent;
        border-radius: 0;
        font-size: 8pt;
        border: 0.5px solid gray;
        margin: auto;
    }

    .md-typeset dd table:not([class]) {
        margin: unset;
    }

    .md-typeset table:not([class]) th {
        padding: 2mm 2.5mm;
    }

    .md-typeset table:not([class]) td {
        border-top: 0.4px solid lightgray;
        padding: 2mm 2.5mm;
    }

    /* Fixes Table Width */
    .md-typeset__table {
        display: table;
        margin: auto;
    }

    .md-typeset__table>table {
        display: table;
        margin: auto;
    }

    .admonition .md-typeset__table,
    .md-content__inner.md-typeset details .md-typeset__table {
        width: 100%;
    }

    .md-typeset table:not([class]) {
        display: table;
    }

    .md-typeset table:not([class]) td {
        vertical-align: middle;
    }

    dl>dd>.md-typeset__scrollwrap>.md-typeset__table {
        min-width: 50%;
        margin: 0;
    }

    .md-typeset table:not([class]) th:empty {
        padding: 0;
    }
/*
    #valid-cmd+table thead tr th:nth-child(2),
    #col-1-width+table thead tr th:nth-child(1),
    #pin-definition+table thead tr th:nth-child(1) {
        width: 8rem;
    }
*/

    /* Admonition */
    .md-typeset .admonition,
    .md-content__inner.md-typeset details {
        font-size: 9pt;
        line-height: 1.5;
    }

    .admonition-title {
        font-size: 9pt;
    }

    /* Show elements on PDF only */
    .pdf-only {
        display: block;
    }

    p.caption_text{
        margin: 2.5px 0 5px 0;
        font-weight: 600;
        font-size: 1rem;
    }
    /* HTML Only (thumbnail) */
    .html-only{
        display: none;
    }
}