/* This file contains custom stylesheet */

.align-center{
    text-align: center!important;
    margin: auto;
}
.align-center > figcaption{
    text-align: center!important;
}
p.centered{
    text-align: center!important;
}
.md-header-nav__button.md-logo{
    margin: 0.1rem 0.2rem!important;
}

.underline {
  text-decoration: underline;
}
span.pre{
    background-color: rgb(204 204 204 / 38%) !important;
    padding: 3px 6px;
    border-radius: 5px;
}
code.download > span.pre{
    background-color: transparent !important;
    padding: 0;
    border-radius: 0;
}
cite{
    background-color: rgb(204 204 204 / 38%) !important;
    padding: 3px 6px;
    border-radius: 5px;
}

.md-typeset pre {
    border-radius: .3rem!important;
    padding: 10px!important;
    overflow-x: auto!important;
    margin: auto!important;
}
html .md-nav--primary .md-nav__title--site .md-nav__button {
    width: 8.5rem !important;
}

nav div.navheader > div:first-child > a {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Color-Primary */

[data-md-color-primary=deep-orange] .md-nav__source {
    background-color: #EF3D30!important;
}

[data-md-color-primary=deep-orange] .md-nav__extra_link:active {
    color: #EF3D30!important;
}

button[data-md-color-primary=deep-orange] {
    background-color: #EF3D30!important;
}

[data-md-color-primary=deep-orange] .md-typeset a {
    color: #EF3D30!important;
}

[data-md-color-primary=deep-orange] .md-header,
[data-md-color-primary=deep-orange] .md-hero {
    background-color: #2D445E!important;
}

[data-md-color-primary=deep-orange] .md-nav__link--active,
[data-md-color-primary=deep-orange] .md-nav__link:active {
    color: #EF3D30!important;
}

[data-md-color-primary=deep-orange] .md-nav__item--nested>.md-nav__link {
    color: inherit
}

[data-md-color-primary=deep-orange] .md-nav__source {
    background-color: #EF3D30f7!important;
}

@media only screen and (max-width:76.1875em) {
     html [data-md-color-primary=deep-orange] .md-nav--primary .md-nav__title--site {
        background-color: #2D445E!important;
        }
    }
}
@media only screen and (min-width:76.25em){
    [data-md-color-primary=deep-orange] .md-tabs {
        background-color: #EF3D30!important;
    }
}

/* Color-Accent */
[data-md-color-accent=deep-orange] .md-nav__extra_link:focus, [data-md-color-accent=deep-orange] .md-nav__extra_link:hover {
    color: #2D445E !important;
}

button[data-md-color-accent=deep-orange] {
    background-color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-typeset a:active,
[data-md-color-accent=deep-orange] .md-typeset a:hover {
    color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover,
[data-md-color-accent=deep-orange] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-nav__link:focus,
[data-md-color-accent=deep-orange] .md-nav__link:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:active:before,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent=deep-orange] .md-typeset [id] .headerlink:focus,
[data-md-color-accent=deep-orange] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent=deep-orange] .md-typeset [id]:target .headerlink {
    color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-search-result__link:hover,
[data-md-color-accent=deep-orange] .md-search-result__link[data-md-state=active] {
    background-color: #2D445E1a !important;
}

[data-md-color-accent=deep-orange] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #2D445E !important;
}

[data-md-color-accent=deep-orange] .md-source-file:hover:before {
    background-color: #2D445E !important;
}

a.md-source, .md-tabs__inner.md-grid > ul.md-tabs__list > li.md-tabs__item > a {
    color: #fff !important;
}


.md-header, .md-tabs{
    background: #2D445E !important;
}
@media only screen and (max-width: 76.1875em){
    nav > label.md-nav__title.md-nav__title--site{
        background: #2D445E !important;
    }
}


/* --- BEGIN: crop thumbnail images --- */
/* Optional CSS for cropping images that aren't all the same size. */

#gallery > div > img.img-thumbnail {
    object-fit: contain;
}

#gallery > div > img.img-thumbnail:hover {
    border: 1.5px solid #EF3D30;
}

@media (max-width: 375px) {
    #gallery > div > img.img-thumbnail {
        height: 180px!important;
        width: 250px!important;
    }
}

.carousel-item img {
    width: 60vw;
    height: 350px;
    object-fit: contain;
}

.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}

@media (max-width: 576px) {
     .modal-dialog {
        max-width: 80%;
    }

    .carousel-item img {
        width: 80vw;
        height: 250px;
    }

}
/* --- END: crop images --- */

  .carousel-control-prev, .carousel-control-next {
    font-size: 2em;
    opacity: 1;
  }

  .carousel-control-next-icon,  .carousel-control-prev-icon {
    height: 30px!important;
    width: 30px!important;
    background-color: #ef3d30b8;
    border-radius: 50%;
  }

code,
kbd,
pre{
    color: #2D445E;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    /* To handle variable font */
    font-weight: 400;
    font-variation-settings: "MONO" 1, "CASL" 0, "slnt" 0, "ital" 0.5;
    line-height: 1.5;
    /* Change tab size to 2*/
    tab-size: 2;
    hyphens: none;
}

table[id|=hwdocstable] {
    border: 1px solid #666666 !important;
    box-shadow: none !important;
}

/* Larger desktops */
@media only screen and (min-width: 1024px) {
    table[id|=hwdocstable] {
        width: 35vw!important;
    }

    div.md-header-nav__title span.md-header-nav__topic{
        display: none!important;
    }
}
/* Laptops and larger tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    table[id|=hwdocstable] {
        width: 45vw!important;
    }
}
/* Tablets and larger smartphones */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    table[id|=hwdocstable] {
        width: 65vw!important;
    }
}
/* Smaller smartphones */
@media only screen and (max-width: 480px) {
    table[id|=hwdocstable] {
        width: 85vw!important;
    }
}

.md-tabs__item {
    padding-right: .2rem!important;
    padding-left: .2rem!important;
}
