# This workflow runs a CI test to ensure your documentation still builds.

name: "Pull Request Docs Check"
on: 
  pull_request:
    branches:
      - main
    paths:
      - docs/source/**
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Update pip
      run: |
        pip install -U wheel
        pip install -U setuptools
        python -m pip install -U pip
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
    - name: Pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "docs/source/"
